@import "tailwindcss";

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap'); */
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: #0F172A; /* crypto-dark */
  color: #F1F5F9;
  font-family: 'Poppins', sans-serif;
}